<table mat-table [dataSource]="bills" class="transparent-table">

  <ng-container matColumnDef="title">
    <th [attr.colspan]="columns.length" mat-header-cell *matHeaderCellDef class="title">
      {{ title }}
    </th>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="['title']" [hidden]="!title"></tr>

  <ng-container matColumnDef="select">
    <th mat-header-cell *matHeaderCellDef>
      <mat-checkbox (change)="$event ? masterToggle() : null"
                    [checked]="selection.hasValue() && selection.selected.length === bills.length"
                    [indeterminate]="selection.hasValue() && selection.selected.length !== bills.length"
                    [disabled]="!bills.length"
                    [aria-label]="checkboxLabel()">
      </mat-checkbox>
    </th>
    <td mat-cell *matCellDef="let row">
      <mat-checkbox (click)="$event.stopPropagation()"
                    (change)="$event ? checkboxToggle(row) : null"
                    [checked]="selection.isSelected(row)"
                    [disabled]="row.blocked"
                    [aria-label]="checkboxLabel(row)">
      </mat-checkbox>
    </td>
  </ng-container>

  <ng-container matColumnDef="status">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let element" class="status">
      <div [matTooltip]="element.statusValue" [matTooltipPosition]="'above'" [style.background]="element.statusColor"></div>
    </td>
  </ng-container>

  <ng-container matColumnDef="created">
    <th mat-header-cell *matHeaderCellDef>Created</th>
    <td mat-cell *matCellDef="let element">
      <span class="date" [matTooltip]="element.createdAt | date : 'hh:mm:ss'" [matTooltipPosition]="'above'">{{ element.createdAt | date }}</span>
    </td>
  </ng-container>

  <ng-container matColumnDef="updated">
    <th mat-header-cell *matHeaderCellDef>Updated</th>
    <td mat-cell *matCellDef="let element">
      <span class="date" [matTooltip]="element.updatedAt | date : 'hh:mm:ss'" [matTooltipPosition]="'above'">{{ element.updatedAt | date }}</span>
    </td>
  </ng-container>

  <ng-container matColumnDef="key">
    <th mat-header-cell *matHeaderCellDef>Bill key</th>
    <td mat-cell *matCellDef="let element">
      {{ element.key }}
    </td>
  </ng-container>

  <ng-container matColumnDef="hospital">
    <th mat-header-cell *matHeaderCellDef>Hospital</th>
    <td mat-cell *matCellDef="let element">
      {{ element.hospital.name }}
    </td>
  </ng-container>

  <ng-container matColumnDef="insurance">
    <th mat-header-cell *matHeaderCellDef>Insurance</th>
    <td mat-cell *matCellDef="let element">
      {{ element.insurance.name }}
    </td>
  </ng-container>

  <ng-container matColumnDef="chargesAmount">
    <th mat-header-cell *matHeaderCellDef>Transaction charges amount</th>
    <td mat-cell *matCellDef="let element">
      {{ element.chargesAmount }}
    </td>
  </ng-container>

  <ng-container matColumnDef="info">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let element" class="icon-cell">
      <button mat-icon-button [matTooltip]="'Bill details'" [matTooltipPosition]="'above'" (click)="showDetails(element.id)">
        <mat-icon>info</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columns"></tr>
  <tr mat-row *matRowDef="let row; columns: columns" [class.blocked]="row.blocked"
      [matTooltip]="'Bill blocked. Status don\'t approved yet'" [matTooltipPosition]="'above'" [matTooltipDisabled]="!row.blocked">
  </tr>

  <ng-container matColumnDef="noRecord">
    <td [attr.colspan]="columns.length" mat-footer-cell *matFooterCellDef>
      <mat-progress-spinner [color]="'accent'" mode="indeterminate" *ngIf="!loaded"></mat-progress-spinner>
      <span *ngIf="loaded">No records found</span>
    </td>
  </ng-container>

  <tr mat-footer-row *matFooterRowDef="['noRecord']" [hidden]="total > 0"></tr>

</table>
