.blocked {

  .mat-cell {
    color: #616161;
  }
}

tr.pending {
  background: rgba(255, 0, 0, 0.5) !important;
}

.status {
  width: 30px;

  div {
    border-radius: 50%;
    width: 10px;
    height: 10px;
  }
}
