<h1 mat-dialog-title>Edit account data</h1>
<div mat-dialog-content>
  <form [formGroup]="accountForm">
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input matInput type="text" [formControlName]="'name'" placeholder="Enter user name">
      <mat-error *ngIf="form.name.errors">
        <ng-container *ngIf="form.name.errors['required']">
          This field is required
        </ng-container>
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Login</mat-label>
      <input matInput type="text" [formControlName]="'login'" placeholder="Enter user login">
      <mat-error *ngIf="form.login.errors">
        <ng-container *ngIf="form.login.errors['required']">
          This field is required
        </ng-container>
        <ng-container *ngIf="form.login.errors['minlength']">
          Login must be at least {{ form.login.errors['minlength']['requiredLength'] }} characters long
        </ng-container>
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Email</mat-label>
      <input matInput type="email" [formControlName]="'email'" placeholder="Enter user email">
      <mat-error *ngIf="form.email.errors">
        <ng-container *ngIf="form.email.errors['required']">
          This field is required
        </ng-container>
        <ng-container *ngIf="form.email.errors['email']">
          Email must be a valid email address
        </ng-container>
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Mobile</mat-label>
      <input matInput type="text" [formControlName]="'mobile'" placeholder="Enter mobile number">
    </mat-form-field>
    <mat-error class="form-error" *ngIf="postErrors">
      <span *ngFor="let error of postErrors">
        {{ error.message }}
      </span>
    </mat-error>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-flat-button [mat-dialog-close]="false">Cancel</button>
  <button mat-flat-button color="accent" (click)="edit()" [disabled]="accountForm.invalid">Edit</button>
</div>
