<h1 mat-dialog-title>{{ insurance ? 'Edit' : 'Create' }} insurance</h1>
<div mat-dialog-content>
  <form [formGroup]="insuranceForm">
    <mat-form-field>
      <mat-label>Insurance name</mat-label>
      <input matInput type="text" [formControlName]="'name'" placeholder="Enter insurance name">
      <mat-error *ngIf="form.name.errors">
        <ng-container *ngIf="form.name.errors['required']">
          This field is required
        </ng-container>
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Insurance contact person</mat-label>
      <input matInput type="text" [formControlName]="'contact'" placeholder="Enter insurance contact person">
      <mat-error *ngIf="form.contact.errors">
        <ng-container *ngIf="form.contact.errors['required']">
          This field is required
        </ng-container>
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>ZIP Code</mat-label>
      <input matInput type="text" [formControlName]="'zip_code'" placeholder="Enter ZIP Code">
      <mat-error *ngIf="form.zip_code.errors">
        <ng-container *ngIf="form.zip_code.errors['required']">
          This field is required
        </ng-container>
        <ng-container *ngIf="form.zip_code.errors['pattern']">
          The value must be an integer
        </ng-container>
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Region</mat-label>
      <input matInput type="text" [formControlName]="'region'" [matAutocomplete]="region" placeholder="Enter region" (focus)="this.regionChanged.next($event.target.value)">
      <mat-autocomplete #region="matAutocomplete">
        <mat-option *ngFor="let option of options.region" [value]="option.value" (onSelectionChange)="submitRegion($event.source.value, option.original)">
          {{ option.label }}
        </mat-option>
      </mat-autocomplete>
      <mat-error *ngIf="form.region.errors">
        <ng-container *ngIf="form.region.errors['required']">
          This field is required
        </ng-container>
      </mat-error>
    </mat-form-field>
    <div class="fields-row">
      <mat-form-field>
        <mat-label>City</mat-label>
        <input matInput type="text" [formControlName]="'city'" [matAutocomplete]="city" placeholder="Enter city" (focus)="this.cityChanged.next($event.target.value)">
        <mat-autocomplete #city="matAutocomplete">
          <mat-option *ngFor="let option of options.city" [value]="option.value" (onSelectionChange)="submitCity($event.source.value, option.original)">
            {{ option.label }}
          </mat-option>
        </mat-autocomplete>
        <mat-error *ngIf="form.city.errors">
          <ng-container *ngIf="form.city.errors['required']">
            This field is required
          </ng-container>
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>District</mat-label>
        <input matInput type="text" [formControlName]="'district'" [matAutocomplete]="district" placeholder="Enter district" (focus)="this.districtChanged.next($event.target.value)">
        <mat-autocomplete #district="matAutocomplete">
          <mat-option *ngFor="let option of options.district" [value]="option.value">
            {{ option.label }}
          </mat-option>
        </mat-autocomplete>
        <mat-hint align="start">{{ districtHint }}</mat-hint>
      </mat-form-field>
    </div>
    <div class="fields-row">
      <mat-form-field>
        <mat-label>Street</mat-label>
        <input matInput type="text" [formControlName]="'street'" placeholder="Enter street">
        <mat-error *ngIf="form.street.errors">
          <ng-container *ngIf="form.street.errors['required']">
            This field is required
          </ng-container>
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Address</mat-label>
        <input matInput type="text" [formControlName]="'building'" placeholder="Enter address">
        <mat-error *ngIf="form.building.errors">
          <ng-container *ngIf="form.building.errors['required']">
            This field is required
          </ng-container>
        </mat-error>
      </mat-form-field>
    </div>
    <mat-form-field>
      <mat-label>Email</mat-label>
      <input matInput type="email" [formControlName]="'email'" placeholder="Enter email">
      <mat-error *ngIf="form.email.errors">
        <ng-container *ngIf="form.email.errors['required']">
          This field is required
        </ng-container>
      </mat-error>
    </mat-form-field>
    <div class="fields-row">
      <mat-form-field>
        <mat-label>Telephone</mat-label>
        <input matInput type="text" [formControlName]="'tel'" placeholder="Enter telephone">
        <mat-error *ngIf="form.tel.errors">
          <ng-container *ngIf="form.tel.errors['required']">
            This field is required
          </ng-container>
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Mobile</mat-label>
        <input matInput type="text" [formControlName]="'mobile'" placeholder="Enter mobile">
        <mat-error *ngIf="form.mobile.errors">
          <ng-container *ngIf="form.mobile.errors['required']">
            This field is required
          </ng-container>
        </mat-error>
      </mat-form-field>
    </div>
    <mat-form-field>
      <mat-label>Extension</mat-label>
      <input matInput type="text" [formControlName]="'extension'" placeholder="Enter extension">
    </mat-form-field>
    <mat-error class="form-error" *ngIf="postErrors">
      <span *ngFor="let error of postErrors">
        {{ error.message }}
      </span>
    </mat-error>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-flat-button [mat-dialog-close]="false">Cancel</button>
  <button mat-flat-button color="accent" (click)="create()" [disabled]="insuranceForm.invalid" *ngIf="!insurance">Create</button>
  <button mat-flat-button color="accent" (click)="update()" [disabled]="insuranceForm.invalid" *ngIf="insurance">Update</button>
</div>
