:host {
  width: 100%;
  height: 100%;
}

mat-card {

  .content-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;

    mat-paginator {
      flex: 1;
    }
  }
}
