// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$bfs-hospital-primary: mat-palette($mat-gray);
$bfs-hospital-accent: mat-palette($mat-indigo, A200, A100, A400);

// The warn palette is optional (defaults to red).
$bfs-hospital-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$bfs-hospital-theme: mat-light-theme($bfs-hospital-primary, $bfs-hospital-accent, $bfs-hospital-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($bfs-hospital-theme);

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }

body {
  background-color: rgb(25, 56, 92, 0.75);
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

mat-card {

  &:not(:last-child) {
    margin-bottom: 10px;
  }

  mat-card-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.mat-card.transparent-card {
  background-color: rgba(255, 255, 255, 0.25);
  border-radius: 15px;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.15);

  .mat-divider-horizontal {
    position: relative !important;
    margin: 16px 0;
  }

  mat-paginator {
    background: transparent;
  }
}

.mat-table.transparent-table {
  background: rgba(255, 255, 255, 0.25);
  border-radius: 15px;
  padding-bottom: 15px;
  width: 100%;

  thead, tbody, tfoot, tr {
    background: transparent !important;
  }

  .title {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
  }

  .date {
    font-size: 12px;
  }

  .icon-cell {
    width: 40px;
  }

  .text-right {
    text-align: right;
  }

  td.mat-footer-cell {
    text-align: center;
    height: 300px;
  }

  mat-progress-spinner {
    margin: 0 auto;
  }
}

.filters {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: wrap;
  margin: 0 -10px;
  padding: 15px 0;

  mat-form-field {
    margin: 0 10px;
  }
}

mat-error.form-error {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  width: 100%;
}

.success-snack {
  background-color: rgba(76, 175, 80, 0.5);
}

.error-snack {
  background-color: rgba(211, 47, 47, 0.5);
}

.relative {
  position: relative !important;
}
